* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
 }
.container{
    margin:8%;
    padding:8%;
    
}
h2{
     width:100%;
     background-color:red;
     color:white;
     text-align:center;
}
.prompt{
    text-align:center;
    padding-top: 8%;
    font-size:1.3vw;
    background-color:green;
    min-height:200px;
}